@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic);

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Chunk';
  font-style: normal;
  font-weight: 400;
  src: local('ChunkFive'), url(chunk.woff) format('woff');
}

body {
  background-image: url('../images/dirtbg.png');
}

button, input[type="submit"] {
  width: 140px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 50px;
  background-color: darkslategray;
}

header {
  background-color: darkslategray;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px);
  font-family: 'Chunk', serif;
  height: 45px;
}

header h1 {
  margin-left: 50px;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

nav a, nav a:link, nav a:visited, nav a:hover {
  text-decoration: none;
  color: white;
}

.alignCenter {
  text-align: center;
}

.awaitGeneration, .hidden, .initialHidden {
  display: none;
}

.bad {
  background-color: red;
  color: yellow;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.budgetRight {
   margin-left: 7px
}

.cancel, #pauseRequest {
  background-color: darkslategray;
  color: white;
}

.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  width: 400px;
  transform: translate(-50%, -50%);
}

.chunk {
  font-family: 'Chunk', serif;
  font-weight: normal;
}

.dialogOK {
  color: white;
  background-color: green;
}

.difficulty {
  margin-left: 10px;
}

.fontlarge {
  font-size: 36px;
}

.game {
  cursor: pointer;
}

.good {
  background-color: LightGreen;
  color: black;
}

.inline {
  display: inline;
}

.inlineblock {
  display: inline-block;
}

.left {
  float: left;
}

.margin10 {
  margin: 10px 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  width: 500px;
}

.modal header {
  height: 18px;
}

.mintcream, .neutral {
  background-color: mintcream;
}

.neutral {
  color: black;
}

.open {
  font-family: 'Open Sans', sans-serif;
}

.opinion, .statistics {
  font-size: 12px;
}

.opinionList dd {
  font-style: italic;
}

.padding10 {
  padding: 10px;
}

.statisticsItem, .queryItem {
  display: inline-block;
  width: 200px;
}

.queryList dt {
  font-weight: 600;
}

.right {
  float: right;
}

.row button {
  display: inline-block;
}

.selected {
  font-weight: bold;
  border: 1px solid black;
}

.semibold {
  font-weight: 600px;
}

.shadow {
  -ms-box-shadow: 10px 0px 35px 0px rgba(31,28,31, 0.8);
  -webkit-box-shadow: 10px 0px 35px 0px rgba(31,28,31, 0.8);
  -moz-box-shadow: 10px 0px 35px 0px rgba(31,28,31, 0.8);
  box-shadow: 10px 0px 35px 0px rgba(31,28,31, 0.8);
}

.statisticsItem {
  display: inline-block;
  width: 200px;
}

.toolButton {
  width: 140px;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
  background-color: white;
  font-size: 12px;
  display: inline-block;
}

.unselected {
  font-weight: normal;
}

.white {
  color: white;
}

.width140 {
  width: 140px;
}

.z1 {
  z-index: 1;
}

#budgetForm > div:nth-child(9) {
  align: center;
  width: 100%;
}

#budgetForm > div, #budgetForm > fieldset {
  display: inline-block;
  width: 230px;
}

#budgetReset {
  color: white;
  background-color: dodgerblue;
}

#controls {
  border: 1px solid black;
  position: absolute;
  top: 40px;
  right: 50px;
  width: 305px;
  height: 220px;
}

#difficultyLabel {
  margin-right: 5px;
}

#disasterLabel {
  display: block;
}

#evalContainer {
  font-size: 14px;
}

#flagsTable {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid black;
}

#flagsTable td, #flagsTable th {
  padding: 0 5px;
}

#fps {
  position: absolute;
  top: 280px;
  width: 280px;
  display: none;
}

#infobar {
  position: absolute;
  top: 40px;
  left: 50px;
  height: 150px;
}

#miscButtons {
  position: absolute;
  left: 50px;
  top: 230px;
  height: 100px;
  margin-top: 10px;
}

#nameForm {
  font-size: 18px;
}

#notifications {
  position: absolute;
  bottom: 50px;
  left: 50%;
  border: 1px solid black;
  width: 400px;
  text-overflow: ellipsis;
  transform: translateX(-50%);
  overflow: hidden;
  white-space: nowrap;
}

#opaque {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .70;
  filter: Alpha(Opacity=70);
  background-color: gray;
  z-index: 10;
}

#playit {
  background-color: green;
  color: white;
  font-size: 18px;
}

#RCIContainer {
  position: absolute;
  left: 50px;
  top: 400px;
  width: 140px;
  height: 140px;
  margin: 0px;
}

#splash {
  position: absolute;
  width: 540px;
  height: 380px;
}

#splashButton {
  margin-bottom: 10px;
}

#splashButtons {
  position: absolute;
  left: 10px;
  top: 120px;
}

#splashButtonContainer {
  position: absolute;
  top: 90px;
  left: 390px;
}

#splashContainer {
  position: absolute;
  top: 90px;
  left: 20px;
}

#splashGenerate {
  background-color: dodgerBlue;
  color: white
}

#splashPlay {
  background-color: lightgreen;
}

#start {
  display: none;
  text-align: center;
  font-size: 18px;
}

#statisticsList, .queryList {
  width: 400px;
  margin: 0 auto;
  padding: 0 110px;
}

#wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 70px;
}

/* Miscellaneous buttons */

#budgetRequest, #budgetHeader {
  background-color: dodgerblue;
  color: white;
}

#disasterRequest, #disasterHeader {
  background-color: red;
  color: yellow;
}

#evalRequest, #evalHeader {
  background-color: forestgreen;
  color: white;
}

/* Tool buttons */
#airportButton {
  background-color: violet;
}

#bulldozerButton {
  background-color: salmon;
}

#coalButton {
  background-color: gray;
}

#commercialButton {
  background-color: blue;
  color: white;
}

#fireButton {
  background-color: red;
}

#industrialButton {
  background-color: yellow;
}

#nuclearButton {
  background-color: mistyrose;
}

#parkButton {
  background-color: darkgreen;
  color: white;
}

#policeButton {
  background-color: darkblue;
  color: white;
}

#portButton {
 background-color: dodgerblue;
 color: white;
}

#queryButton, #queryHeader {
  background-color: cyan;
}

#railButton {
  background-color: brown;
  color: white;
}

#residentialButton {
  background-color: lime;
}

#roadButton {
  background-color: black;
  color: white;
}

#stadiumButton {
  background-color: indigo;
  color: white;
}

#wireButton {
  background-color: khaki;
}

/* Pre refactoring below */

.info {
  width: 20%;
  text-align: centre;
}

#appeal {
  border: 1px solid gray;
  padding: 10px;
  font-size: 12px;
}

#appeal h2 {
  color: yellow;
}
